<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome Page</title>
</head>
<body>
	<h1>Welcome to Mobile Home Server DevTool!</h1>
	<p>Thank you very much for using this tool in your development process! I hope you like to use this as much as a like to develop it.</p>
	<p>By the way <b>if you are seeing this page, CONGRATULATIONS the server is running all good!</b></p>
	<p>If you run in any kind of bug or hard time with this application, you can check the <a href="">documentation</a> or post an <a href="">issue</a>.</p>
	<p>Thank you again and good code!</p>
	<a href=""><i>Almir Paulo</i></a>
</body>
</html>
